region       = "us-east-1"
cluster_name = "eks-lab"   # 對應 Lab 15 的 var.project
project      = "eks-helm"
environment  = "dev"

# 如果版本過舊，請到 https://artifacthub.io 查詢最新版本
metrics_server_version = "3.12.1"
ingress_nginx_version  = "4.10.1"
